<!DOCTYPE html>
<html>
    <head>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="{{ url_for('static', filename='w3.css') }}">


</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-black w3-padding-24" style="font-size:20px;">
    <a href="" class="w3-bar-item w3-button" >Home</a>
    <a href="" class="w3-bar-item w3-button" >Chat</a>
    <a href="" class="w3-bar-item w3-button" >Detect</a>
   
  </div>
</div>

<br><br>
<br><br>






<div class="w3-container w3-center" style="font-size:30px;"><h1>Diseases and Symptoms</h1></div>
<div class="w3-container" style="font-size: 20px;">
  <ol>
   <li>Damping Off</li>
    <li>Septoria leaf spot</li>
<li>Bacterial stem and fruit canker</li>

    <li>Early blight</li>
    <li>Bacterial leaf spot</li>
    <li>Bacterial wilt</li>
    <li>Leaf curl</li>
    <li>Mosaic</li>
    <li>Tomato spotted wilt disease</li>
    <li>Fusarium wilt</li>
    <li>IPM for Tomato</li>
  </ol>
</div>
<div class="w3-container" style="font-size: 20px;">
  <h2>Damping Off</h2>
   <img class="w3-card-4" src="https://static.vikaspedia.in/media/images_en/agriculture/crop-production/integrated-pest-managment/ipm-for-vegetables/ipm-strategies-for-tomato/Earlyblight.jpg" alt="Tomato" style="width: 100%;">

 
  <h3>Damage symptom</h3>
<p>Damping off of tomato occurs in two stages, i.e. the pre-emergence and the post-emergence phase.
  In the pre-emergence the phase the seedlings are killed just before they reach the soil surface.
  The young radical and the plumule are killed and there is complete rotting of the seedlings.
  The post-emergence phase is characterized by the infection of the young, juvenile tissues of the collar at the ground level.
  The infected tissues become soft and water soaked. The seedlings topple over or collapse</p>
 
  <h2>Favourable conditions</h2>
  <p>
    High humidity, high soil moisture, cloudiness and low temperatures below 24° C for few days are ideal for infection and development of disease.
    Crowded seedlings, dampness due to high rainfall, poor drainage and excess of soil solutes hamper plant growth and increase the pathogenic damping-off.
    Survival and spread
    Primary: Soil, Seed, Water
    Secondary: Conidia through rain splash or wind.
    </p>
</div>
<div class="w3-container" style="font-size: 20px;">
  <h1>Septoria leaf spot</h1>
  <img class="w3-card-4" src="https://static.vikaspedia.in/media/images_en/agriculture/crop-production/integrated-pest-managment/ipm-for-vegetables/ipm-strategies-for-tomato/leafspot.jpg" alt="Tomato" style="width: 100%;">

 
  <h2>Damage symptoms</h2>
<p>
<ul>
  <li>Less vigorous plant are usually affected</li>
  <li>Small, round to irregular spots with a grey center and dark margin on leaves</li>
  <li>Spots usually start on lower leaves and gradually advance upwards</li>
  <li>Spots coalesce and leaves are blighted</li>
  <li>Complete defoliation of affected leaves</li>
  <li>Stems and flowers are sometimes attacked</li>
  <li> Fruits are rarely attacked</li>
  </ul>

<h2>Survival and spread</h2>
Primary: Mycelium or conidia in pycnidia in infected plant debris or on solanaceous weeds
Secondary: Conidia through rain splash or wind and also by slimy conidia sticking on to hands and clothing of tomato pickers
<h2>Favourable conditions</h2>
Poor vigour of plants due to nutrient inadequacy or in late season
High humidity or persistent dew at 25 °C
Moist weather with intermittent shower.


</div>
<div class="w3-container" style="font-size: 20px;">

  <h1>Bacterial stem and fruit canker</h1>
  <img class="w3-card-4" src="https://static.vikaspedia.in/media/images_en/agriculture/crop-production/integrated-pest-managment/ipm-for-vegetables/ipm-strategies-for-tomato/fruitcanker.jpg" alt="Tomato" style="width: 100%;">

 
<h2>Damage symptoms</h2>

<ul>
  <li>Disease appears as spots on leaves, stems and fruits and as wilting of leaves and shoots</li>
  <li>White blister like spots in the margins of leaves</li>
  <li>Spots become brown with age and coalesce, but leaves do not fall off</li>
  <li>Leaflets on one side of rachis show withering initially</li>
  <li>Light coloured streaks on stems and petioles at the joints</li>
  <li>Cracks develop in streaks and form cankers</li>
  <li>Slimy bacterial ooze through the cracks in humid weather</li>
  <li>Small, shallow, water soaked, spots with white halo develop on fruits</li>
  <li>The centers of spots become slightly raised, tan coloured and rough</li>
  <li>
    Vascular discolouration is seen in split open stem</li>
</ul>
<h2>Survival and spread</h2>
Primary: Bacterial cells survive on infected plant debris and seed (both internally and externally) and also on solanaceous weeds such as Solanum nigrum
Secondary: Bacterial cells transmitted through rain splash
<h2>Favourable conditions</h2>
<ul>
  <li>Soil temperature of around 28 °C</li>
  <li>High humidity or persistent dew</li>
  <li>Moist weather with intermittent showers.</li>
  <li></li>
  <li></li>
</ul>
</div>

<div class="w3-container" style="font-size: 20px;">
  <h1>Early blight</h1>
  <h2>Damage symptoms</h2>
  <ul>
    <li>This is a common disease of tomato occurring on the foliage at any stage of the growth.</li>
    <li>The fungus attacks the foliage causing characteristic leaf spots and blight. Early blight is first observed on the plants as small, black lesions mostly on the older foliage.</li>
    <li>Spots enlarge, and by the time they are one-fourth inch in diameter or larger, concentric rings in a bull's eye pattern can be seen in the center of the diseased area.</li>
    <li>
      Tissue surrounding the spots may turn yellow. If high temperature and humidity occur at this time, much of the foliage is killed.</li>
    <li>This is a common disease of tomato occurring on the foliage at any stage of the growth.</li>
    <li>Lesions on the stems are similar to those on leaves, sometimes girdling the plant if they occur near the soil line.</li>
    <li>Transplants showing infection by the late blight fungus often die when set in the field. The fungus also infects the fruit, generally through the calyx or stem attachment.</li>
    <li>Lesions attain considerable size, usually involving nearly the entire fruit; concentric rings are also present on the fruit.</li>
    <li></li>
  </ul>
  
  <h2>Survival and spread</h2>
  Primary: The fungus spends the winter in infected plant debris in or on the soil where it can survive at least one and perhaps several years. It can also be seed borne.
  Secondary: The spores are transported by water, wind, insects, other animals including man, and machinery. Once the initial infections have occurred, they become the most important source of new spore production and are responsible for rapid disease spread.
  <h2>Favourable conditions</h2>
  <ul>
    <li>Warm, rainy and wet weather</li>
    
  </ul>
</div>

<div class="w3-container" style="font-size: 20px;">
  <h1>Bacterial leaf spot</h1>
  <h2>Damage symptoms</h2>
  <ul>
    <li>Moist weather and splattering rains are conducive to disease development. Most outbreaks of the disease can be traced back to heavy rainstorms that occur in the area.</li>
    <li>Infected leaves show small, brown, water soaked, circular spots surrounded with yellowish halo.</li>
    <li>On older plants the leaflet infection is mostly on older leaves and may cause serious defoliation.</li>
    <li>The most striking symptoms are on the green fruit. Small, water-soaked spots first appear which later become raised and enlarge until they are one-eighth to one-fourth inch in diameter.</li>
    <li>Centers of these lesions become irregular, light brown and slightly sunken with a rough, scabby surface.</li>
    <li>Ripe fruits are not susceptible to the disease. Surface of the seed becomes contaminated with the bacteria, remaining on the seed surface for some time.</li>
    <li>The organism survives in alternate hosts, on volunteer tomato plants and on infected plant debris.</li>
    <li></li>
  </ul>
  <h2>Survival and spread</h2>
  <P>Primary: Bacterial cells survive on infected plant debris and seed (both internally and externally) and also on solanaceous weeds such as Solanum nigrum</P>
  <p>Secondary: Bacterial cells transmitted through rain splash</p>
  <h2>Favourable conditions</h2>
 <p> Moist weather and splattering rains</p>
 <p>High humidity or persistent dew.</p> 
</div>

</body>
</html>
