<!DOCTYPE html>
<html>
    <head>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="{{ url_for('static', filename='w3.css') }}">


</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-black w3-padding-24" style="font-size:20px;">
    <a href="{{url_for('home')}}" class="w3-bar-item w3-button" >Home</a>
    <a href="" class="w3-bar-item w3-button" >Chat</a>
    <a href="" class="w3-bar-item w3-button" >Detect</a>
   
  </div>
</div>

<br><br>
<br><br>






<div class="w3-container w3-padding" style="font-size: 30px;">
            <h1 class="w3-center">DABARUN NOMAN TUMATIR</h1>
        
        <ul>
        <li>Samun Iri Ingantacce</li>
        <li>Ka samo Iri Ingantacce,</li>
        
        <li>Mai kyau wanda yake </li>

        <li>Samar da amfani</li> 
        <li>mayalwaci</li>
        <li>Ka nemo Iri mai Kyau</li>
        <li>Wanda ke shaidar </li>
        <li>Gwabnati. Ke nemi iri</li>
        <li>Dangida do ko dan waje mai kyau</li>
        <li>Ka tabbata ka sawa irin 
        <li>Tumatur din magani</li>
        <li>Ka nemo Iri masu jurewa</li>
        <li>Kwari da cututtuka, ko</li>
        <li>Masu jurewa Fari</li>
         </div>

<div class="w3-container w3-padding" style="font-size: 30px;">
<h1 class="w3-center">Rainon Irin Tumatur</h1>
<ul>
<li>Rainon Iri akan tudu ko cikin komi</li>
<li>Ka shuka irin tumatur tsakanin kamar</li>
<li>Tsayin fadin hannu,misali 15cm</i>
<li>Kayi magani ciyawa da feshi kafin</li>
<li>Shuka da bayan shuka</li>
<li>Ka sanya taki na(Gwargwadon: 750gNPK 151515 da 
300g Urea a fadin 25m2)</li>
<li>Kayi ban ruwa aki-akai </li>

</div>

<div class="w3-container w3-padding" style="font-size: 30px;">
    <hi class="w3-center"> Aikin Gona</h1>
<ul>
    <li>Zabin Wajan Noma da gyaran waje</li>
<li>Tumatur na iya rayuwa akan kasa Mai kyau, wadda ba tabo ba, baKuma yashi can-can ba</li>

<li>Ka noma wajan sosai yayi laushi</li>
    <h1>Don samun saukin yin dashe</h1>

<li>Ka tabbata kasar wajan bata da Kwari ko cututtuka</li>
    </ul>
    </div>
    

    </div>
    <div>
        <h1 class="w3-center">  Dashen Tumatur</h1>
<il>
    <li>Shukar Tumatur na girma daidai ayi Dashe cikin sati na 3-4 bayan shuka,Ko lokacin da tayi ganye 3-4</li>

vDashe mai kyau yana kaiwa (6 inches Zuwa 8 inches a tsayi.</li>

        <li>Yana da dan karfi, ba yawan ganyaye Sosai</li>
       <li>Ka tabbata ka bawa komin ruwa 
Sosai ya sha kafin kayi dashe </li>

 <li>Kayi dashe da sassafe ko da yamma
Sasai lokacin gari yayi sanyi
 
Yin Dashe</li> 
 <li>	Ka tabbata shukar da zaka dauko		
Kayi dashe da kwarinta sosai</li>

 <li>Ana dan barin shukar ta kama jikinta
Don taimaka mata dasu</li>

 <li>Idan har zaka ajiye shukar ta dan
Kwana biyu don ta kama jikinta tayi
Kwari, to ka tabbatar ka ajiye ta waje
     Mai sanyi</li>

        
        </ul>
    
    </div?
    
    
    
  <div class="w3-container w3-padding" style="font-size: 30px;">
    <h1 class="w3-center"> Ban ruwa </h1>
<ul>
    <li>Ban ruwa na da muhimmanci 
        Sosai wajan girman shuka</li>
<li>Lokacin musamman na bayar da
Ruwa shi ne lokacin da shuka ta fara
Fitar da fure, da lokacin da ta fara
Fito da`ya`ya</li>
<li>Rashin ban ruwa a wannnan lokacin 
Na kawo :<br>
	Rashin fitar da fulawowi,
Faduwar fulawowi, da kananan 
Ya`yak o wanda suka fashe</li>
 
    <h1 class="w3-center">Sanya Taki a Gona</h1> 
<li> Ka sanya Buhu 6 zuwa 7 na Takin 
NPK (15-15-15) Sati 3 bayan Dashe</li>
<li>Ka sanya Buhu 2 da Rabi na Takin 
Kampha (46-0-0) sati 6 Bayan 
Dashe.</li>
<li>Ka binne taki cikin dan rami wanda 
Nisan sa misali tsawon dan yatsa na 
manuni daga gindin shukar</li>
<li>Manomi zai iya anfani da taki na 
Ruwa (zaka iya tambayar Malamin 
Gona don samun karin bayani).</li>
<li>Ka tabbata kabi ka’idojin sanya taki
Don samun amfani mai kyau</li>
 
    <h1>Cirar ciyawa</h1>
<li>Ka tabbata ka cire ciyawa don tana 
hana anfani fitowa sosai, tana hana
su samin sinadaran girma da ruwa</li>
<li>Ana iya kashe ciyawa ta wadannan 
hanyoyi:</li>
	Feshin magani ciyawa, ko cire
ciyawa da hannu ko duka biyun
<li>Cirar Ciyawa da Hannu<br>
	Ka cire ciyawa sau 2-3 cikin sati
na 3 zuwa na 6 bayan Dashe. Ka
bi a hankali kar ka kwantar da
shukar da kayi
 
<li>Tsaya da Tumatur jikkin Sanda,Manoman Tumatur na Najeriya ba su
cika jingina gindin Tumatur a sanda
ba.</li> 

<li>Binciken da aka yi an tabbatar da 
jingina tumatur a jikin sanda da
yanke saman reshen yana 
taimaka wajan yada reshuna da
tsawon tumatur da yin ya`ya sosai
masu kyau</li>

<li>Hakan na taimakawa sosai wajen 
samun tumatur sosai a gona</li>

<li>Zaka iya jingina tumatur a jikin ice
ko sanda da ka samu a gonarka</li>

    </ul>
    </div>
    
    
    
    
    <h1 class="w3-center">Tomato Farming</h1>
        
        <p>Tomato farming is the cultivation of tomato for the production of tomato fruits. The cultivation of tomato can be profitable if done in the right way.</p>

           <p>Tomato farming can be done in the open field, pots, greenhouses, gardens and containers.</p>
            
           <p> Tomato plants’ fruits are harvested after 60 – 90 days depending on variety. Tomato seedlings are usually managed in nurseries for 3 – 4 weeks.</p>
    </div>


<img class="w3-card-4" src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/tomatoes-1296x728-feature.jpg" alt="Tomato" style="width: 100%;">


<div class="w3-container w3-padding" style="font-size: 30px;">
    <p>Tomato farming is the cultivation of tomato for the production of tomato fruits. </p>
    <p>The cultivation of tomato can be profitable if done in the right way. Tomato farming can be done in the open field, pots, greenhouses, gardens and containers.</p> 
    <p>Tomato plants' fruits are harvested after 60 – 90 days depending on variety.</p>
</div>




</div>

</body>
</html>
