<!DOCTYPE html>
<html>
    <head>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="{{ url_for('static', filename='w3.css') }}">


</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-black w3-padding-24" style="font-size:20px;">
    <a href="{{url_for('home')}}" class="w3-bar-item w3-button" >Home</a>
    <a href="" class="w3-bar-item w3-button" >Chat</a>
    <a href="" class="w3-bar-item w3-button" >Detect</a>
   
  </div>
</div>

<br><br>
<br><br>






<div class="w3-container w3-padding" style="font-size: 30px;">
        
        <p>Tomato farming is the cultivation of tomato for the production of tomato fruits. The cultivation of tomato can be profitable if done in the right way.</p>

           <p>Tomato farming can be done in the open field, pots, greenhouses, gardens and containers.</p>
            
           <p> Tomato plants’ fruits are harvested after 60 – 90 days depending on variety. Tomato seedlings are usually managed in nurseries for 3 – 4 weeks.</p>
    </div>


<img class="w3-card-4" src="{{url_for('static', filename='tomato.jpg')}}" alt="Tomato" style="width: 100%;">


<div class="w3-container w3-padding" style="font-size: 30px;">
    <p>Tomato farming is the cultivation of tomato for the production of tomato fruits. </p>
    <p>The cultivation of tomato can be profitable if done in the right way. Tomato farming can be done in the open field, pots, greenhouses, gardens and containers.</p> 
    <p>Tomato plants' fruits are harvested after 60 – 90 days depending on variety.</p>
</div>




</div>

</body>
</html>
