<!DOCTYPE html>
<html>
    <head>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="{{ url_for('static', filename='w3.css') }}">


</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-black w3-padding-24" style="font-size:20px;">
    <a href="{{url_for('home')}}" class="w3-bar-item w3-button" >Home</a>
    <a href="" class="w3-bar-item w3-button" >Chat</a>
    <a href="" class="w3-bar-item w3-button" >Detect</a>
   
  </div>
</div>

<br><br>
<br><br>






<div class="w3-container w3-padding" style="font-size: 30px;">
            <h1 class="w3-center">DABARUN NOMAN TUMATIR</h1>
        
        <ul>
        <li>Samun Iri Ingantacce</li>
        <li>Ka samo Iri Ingantacce,</li>
        
        <li>Mai kyau wanda yake </li>

        <li>Samar da amfani</li> 
        <li>mayalwaci</li>
        <li>Ka nemo Iri mai Kyau</li>
        <li>Wanda ke shaidar </li>
        <li>Gwabnati. Ke nemi iri</li>
        <li>Dangida do ko dan waje mai kyau</li>
        <li>Ka tabbata ka sawa irin 
        <li>Tumatur din magani</li>
        <li>Ka nemo Iri masu jurewa</li>
        <li>Kwari da cututtuka, ko</li>
        <li>Masu jurewa Fari</li>
         </div>

<div>
<h1 class="w3-center">Rainon Irin Tumatur</h1>
<ul>
<li>Rainon Iri akan tudu ko cikin komi</li>
<li>Ka shuka irin tumatur tsakanin kamar</li>
<li>Tsayin fadin hannu,misali 15cm</i>
<li>Kayi magani ciyawa da feshi kafin</li>
<li>Shuka da bayan shuka</li>
<li>Ka sanya taki na(Gwargwadon: 750gNPK 151515 da 
300g Urea a fadin 25m2)</li>
<li>Kayi ban ruwa aki-akai </li>

</div>


<h1 class="w3-center">Tomato Farming</h1>
    
        
        <p>Tomato farming is the cultivation of tomato for the production of tomato fruits. The cultivation of tomato can be profitable if done in the right way.</p>

           <p>Tomato farming can be done in the open field, pots, greenhouses, gardens and containers.</p>
            
           <p> Tomato plants’ fruits are harvested after 60 – 90 days depending on variety. Tomato seedlings are usually managed in nurseries for 3 – 4 weeks.</p>
    </div>


<img class="w3-card-4" src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/tomatoes-1296x728-feature.jpg" alt="Tomato" style="width: 100%;">


<div class="w3-container w3-padding" style="font-size: 30px;">
    <p>Tomato farming is the cultivation of tomato for the production of tomato fruits. </p>
    <p>The cultivation of tomato can be profitable if done in the right way. Tomato farming can be done in the open field, pots, greenhouses, gardens and containers.</p> 
    <p>Tomato plants' fruits are harvested after 60 – 90 days depending on variety.</p>
</div>




</div>

</body>
</html>
