
 
<!DOCTYPE html>
<html>
    <head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<
<link rel="stylesheet"  href="{{ url_for('static', filename='w3.css') }}">


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>


  <div class="w3-bar w3-black w3-padding-24" style="font-size:20px;">
    <a href="" class="w3-bar-item w3-button" >Home</a>
    <a href="" class="w3-bar-item w3-button" >Chat</a>
    <a href="" class="w3-bar-item w3-button" >Detect</a>
   

    
  </div>


<br><br><br><br><br><br><br><br>

<div class="w3-container" style="margin: auto;">





 <div class="w3-container"> 
     
     
     
 
 
  
            <div class="w3-container w3-center" >
                <h2 class="">Upload Your Images</h2>
        
                <form  enctype="multipart/form-data">
            <input class="w3-border w3-round w3-light-teal w3-padding" type="file" name="file" class="btn" required="required" style="width: 50%"><br><br>
            <input class="w3-padding w3-dark-grey w3-text-white w3-round" type="submit" class="btn" >
        </form>
            </div>
    
          
 </div>
    


   
 
</div>

<br><br><br>

<div class="w3-row">

        <div class="w3-third w3-container w3-center">
            <h1>Chat</h1>
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x "></i>
                <a href=""><i class=" fas fa-comments fa-stack-1x fa-inverse text-primary" ></i></a>
            </span>
            <h4 class="my-3">Support</h4>
            
            
        </div>
        <div class="w3-third w3-container w3-center">
            <h1>Video</h1>
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x "></i>
                <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">support</h4>
           </div> 
          
        <div class="w3-third w3-container w3-center">
            <h1>Meetup</h1>
            
                
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                  </span> 
           
           
            <h4 class="my-3">Appointment</h4>
             
           
        </div>


    </div>
    
 
  
    </a>
</body>
</html>
